/* Reset CSS & Variables */
:root {
    --clr-main: #0EB1D2;
    --clr-main-dark: #19191f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* ----------------------------------- */

.itemCount {
    display: grid;
    place-items: center;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 2rem 0;
}

.itemNumero {
    font-size: 2rem;
    color: hsl(0, 0%, 96%);
}

.navbar {
    background-color: var(--clr-main-dark);
}

.logo {
    font-size: 2rem;
    color: var(--clr-main);
    background-color: black;
    padding: 1rem;
    border: 2px solid var(--clr-main);
}

.logo:hover {
    text-shadow: 6px 6px 20px white; 
}

.navBarTitle {
    font-size: 1.7rem;
    color: var(--clr-main);
}

.carrito {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--clr-main);
    border-radius: 50%;
}

.numeroCarrito {
    background-color: var(--clr-main-dark);
    color: var(--clr-main);
    font-weight: bold;
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 2rem;
    background-color: hsl(0, 0%, 96%);
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.detailContainer {
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.productDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-main-dark);
    padding: 0.5rem;
    gap: 1rem;   
    border-radius: 1rem;
    border: 4px solid var(--clr-main);
}

.button {
    background-color: var(--clr-main);
    font-size: 1.1rem;
    font-weight: bold;
}

.button:hover {
    transform: translateY(-3px); 
    background-color: hsl(0, 0%, 96%);
    transition: background-color 0.2s, color 0.2s;
}

.cardImg {
    border-radius: 1rem;
    border: 3px solid var(--clr-main);
    width: 256px;
    height: 256px;
}